{%extends 'base_account.template.html'%}

{%block content%}
<h1>Volunteer Events</h1>
<div class="container">
    <div class="row d-flex align-items-stretch">
        {% for v in vol_listings%}
        <div class="col-lg-4">
            <div class="single-cause">
                <div class="top">
                    <div class="thumb">
                        <img class="c-img img-fluid" src="{{ url_for('static', filename='img/causes/c1.jpg') }}" alt="">
                    </div>
                        <h3 class="text-title-limit">{{v.prog_name}}</h3>
                    <p class="text text-desc-limit">
                        {{v.prog_desc}}
                    </p>
                </div>
                <div class="bottom d-flex justify-content-between align-items-center flex-wrap">
                    <a href="{{ url_for('update_event', activity_id=v._id) }}" class="primary-btn primary-btn1">Edit event</a>
                    <a href="{{ url_for('delete_event', activity_id=v._id) }}" class="primary-btn primary-btn1">Remove event</a>
                </div>
                <div class="middle">
                    <div class="d-flex">
                        <div class="mr-50">
                            <h5><span class="counter">{{v.duration}}</span></h5>
                            <p>Duration</p>
                        </div>
                        <div class="mr-50">
                            <h5><span class="counter">{{v.num_volunteer_req}}</span></h5>
                            <p>Volunteers Needed</p>
                        </div>
                        <div class="">
                            <h5><span class="counter">{{v.vol_date}}</span></h5>
                            <p>Date</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
        {%endfor%}
    </div>
</div>

{%endblock%}