{%extends 'base.template.html'%}

{%block content%}
<div class="row">
    <div class="col-lg-4 col-md-6 d-flex align-items-center">
        <div class="single-cause">
            <div class="top">
                <div class="thumb">
                    <img class="c-img img-fluid" src="{{ url_for('static', filename='img/causes/c1.jpg') }}" alt="">
                </div>
                    <h3>{{vol.prog_name}}</h3>
                <p class="text">
                    {{vol.prog_desc}}
                </p>
            </div>
            <div class="middle">
                <div class="d-flex">
                    <div class="mr-50">
                        <h5><span class="counter">{{vol.duration}}</span></h5>
                        <p>Duration</p>
                    </div>
                    <div class="mr-50">
                        <h5><span class="counter">{{vol.num_volunteer_req}}</span></h5>
                        <p>Volunteers Needed</p>
                    </div>
                    <div class="">
                        <h5><span class="counter">{{vol.vol_date}}</span></h5>
                        <p>Date</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <form method="POST">
            <div class="form-group">
                <label>Full Name</label>
                <input type="text" class="form-control" name="vol_name" required/><br/>
                
                <label>Date of Birth</label>
                <input type="date" name="vol_dob" class="form-control" required/><br/>
                
                <label>Email Address</label>
                <input type="email" name="vol_email" class="form-control" required/><br/>
                
                <label>Contact Number (SG Only)</label>
                <input type="num" name="vol_phone" class="form-control" placeholder="9123-4562" pattern="[8-9][0-9]{3}[0-9]{4}"/><br/>
                
                <label>Tell us about yourself</label>
                <textarea name="vol_desc" class="form-control" placeholder="Tell us why you want to join this event!"></textarea><br/>

                <button type="submit" class="btn btn-primary">Register for event!</button>
            </div>
        </form>
    </div>
</div>
{%endblock%}