{%extends 'base.template.html' %}

{%block title%}Volunteer List{%endblock%}

{%block content%}

  <!-- start Banner Area -->
	<section class="home-banner-area relative">
		<div class="container-fluid">
			<div class="row  d-flex align-items-center justify-content-center">
				<div class="header-left col-lg-5 col-md-6 ">
					<h1>
						Join the<br>
						community of giving
					</h1>
					<p class="pt-20 pb-20">
						Contribute to a social cause by supporting our community of charity organisations. You can do you part
						for Singapore by volunteering at our organisations or donating to us!
					</p>
					<div class="vdo-section">
						<a href="https://youtu.be/m4n4Jk1Dem4" class="single-charity">
							<img src="{{ url_for('static', filename='img/video-icon.png') }}" alt="">
						</a>
						<span>
							<a href="https://www.youtube.com/watch?v=AtMTcXe8Goc" target="_blank" class="single-charity">
								Watch one of our initiatives
							</a>
						</span>
					</div>
				</div>
				<div class="col-lg-7 col-md-6 col-sm-8 header-right">
					<div class="owl-carousel owl-banner">
						<img class="img-fluid w-100" src="{{ url_for('static', filename='img/home-banner-img.jpg') }}" alt="">
						<img class="img-fluid w-100" src="{{ url_for('static', filename='img/home-banner2-img.jpg') }}" alt="">
						<img class="img-fluid w-100" src="{{ url_for('static', filename='img/home-banner3-img.jpg') }}" alt="">
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->
	<!-- Start Causes Area -->
	<section class="causes-area section-gap">
		<div class="container">
			<div class="row d-flex align-items-center">
				<div class="col-lg-4 col-md-6">
					{% for v in vol_listings%}
					<div class="single-cause">
						<div class="top">
							<div class="thumb">
								<img class="c-img img-fluid" src="{{v.uploaded_file_url}}" alt="">
							</div>
								<h3>{{v.prog_name}}</h3>
							<p class="text">
								{{v.prog_desc}}
							</p>
						</div>
						<div class="middle">
							<div class="d-flex">
								<div class="mr-50">
									<h5><span class="counter">{{v.duration}}</span></h5>
									<p>Hour(s)</p>
								</div>
								<div class="mr-50">
									<h5><span class="counter">{{v.num_volunteer_req}}</span></h5>
									<p>Volunteers Needed</p>
								</div>
							</div>
						</div>
					</div>
					{%endfor%}
				</div>
				<div class="col-lg-8">
					<div class="text">
						<h1>We guarantee a meaningful time with us!</h1><br/>
						<h3>Looking for a volunteering opportunity?</h3>
						<p>
							#SGVolunteer is the open-platform for any SG citizens to look for a volunteer opportunities. We only enroll organisations with a strong social causes, albeit all types and sizes, and allow them to administratively run this platform with ease to promote volunteerism. We are confident in providing you with all types of opportunities and we look forward to working with you!  
						</p>
						<div class="bottom d-flex justify-content-between align-items-center flex-wrap">
							<a href="{{ url_for('show_events') }}" class="primary-btn primary-btn1">Volunteer opportunities</a>
						</div><br/>
						<h3>Have a volunteering opportunity for others?</h3>
						<p>
							#SGVolunteer is quick with the enrollment process - simply register on our webpage and we'll do the auditing offline. We have a dedicated team armed with a database of charity organisations and we are confident in providing a swift registration process. Once you've been enrolled as our administrator, you have the full-authority to manage the volunteer opportunities along with other administrators.
						</p>
					</div>
					<div class="bottom d-flex justify-content-between align-items-center flex-wrap">
						<a href="{{ url_for('register_page') }}" class="primary-btn primary-btn1">Join our community</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end Causes Area -->

	<!-- Start Collection Area -->
	<section class="collection-area section-gap">
		<div class="container">
			<div class="row justify-content-center align-items-center">
				<div class="col-lg-4 col-md-8">
					<div class="text">
						<h2>Our community is growing!</h2>
						<p>
							Join us in this ever-growing community! We are people who love to support others and we would love to have you onboard with us. You can do your part by volunteering, providing opportunities and even donating!
						</p>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6">
					<div class="collection-box">
						<h3 class="color1"><span class="counter">{{event_count}}</span></h3>
						<i class="lnr lnr-arrow-up"></i>
						<p>Volunteers</p>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6">
					<div class="collection-box">
						<h3><span class="counter">{{activity_count}}</span></h3>
						<i class="lnr lnr-arrow-up"></i>
						<p>Activities</p>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6">
					<div class="collection-box">
						<h3 class="color3"><span class="counter">{{org_count}}</span></h3>
						<i class="lnr lnr-arrow-up"></i>
						<p>Organisations</p>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6">
					<div class="collection-box">
						<h3 class="color3"><span class="counter">{{donor_count}}</span></h3>
						<i class="lnr lnr-arrow-up"></i>
						<p>Donors</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Collection Area -->

	<!-- Start Donation Area -->
	<section class="donation-area relative section-gap-top">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-lg-5">
					<div class="text-center text-wrap">
						<h1 class="mb-25">Donate to help other Singaporeans</h1>
						<p>Singapore has more than 1,000 charity organisations to choose from. There is something for every budget, and enough.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Donation Area -->

	<!-- Start Donation Form Area -->
	<section class="donation-form-area section-gap-bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 col-md-10 col-sm-12">
					<div class="donation-box">
						<form action="">
							<div class="donation-input">
								<div class="form-group">
									<input type="text" placeholder="$20.00" onfocus="this.placeholder = ''" onblur="this.placeholder = '$20.00'"
									 class="form-control">
									<span class="fs-14">SGD</span>
								</div>
							</div>
							<a href="{{ url_for('show_donate_form') }}" class="primary-btn w-100">Donate Now ----></a>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end Donation Form Area -->
{%endblock%}
