{%extends 'base.template.html' %}

{%block title%}Volunteer List{%endblock%}

{%block content%}

  <!-- start Banner Area -->
	<section class="home-banner-area relative">
		<div class="container-fluid">
			<div class="row  d-flex align-items-center justify-content-center">
				<div class="header-left col-lg-5 col-md-6 ">
					<h1>
						New way <br>
						to give back
					</h1>
					<p class="pt-20 pb-20">
						If you are looking at blank cassettes on the web, you may be very confused at the difference in price You may see
						some for as low as each.
					</p>
					<div class="vdo-section">
						<a href="https://www.youtube.com/watch?v=p29dKpHnPjQ" class="single-charity">
							<img src="{{ url_for('static', filename='img/video-icon.png') }}" alt="">
						</a>
						<span>
							<a href="https://www.youtube.com/watch?v=p29dKpHnPjQ" class="single-charity">
								Watch our intro video
							</a>
						</span>
					</div>
				</div>
				<div class="col-lg-7 col-md-6 col-sm-8 header-right">
					<div class="owl-carousel owl-banner">
						<img class="img-fluid w-100" src="{{ url_for('static', filename='img/home-banner-img.jpg') }}" alt="">
						<img class="img-fluid w-100" src="{{ url_for('static', filename='img/home-banner-img.jpg') }}" alt="">
					</div>
					<div class="form-wrap">
						<p class="mb-20 text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->
	<!-- Start Causes Area -->
	<section class="causes-area section-gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6">
					{% for v in vol_listings%}
					<div class="single-cause">
						<div class="top">
							<div class="thumb">
								<img class="c-img img-fluid" src="{{ url_for('static', filename='img/causes/c1.jpg') }}" alt="">
							</div>
								<h3>{{v.prog_name}}</h3>
							<p class="text">
								{{v.prog_desc}}
							</p>
						</div>
						<div class="middle">
							<div class="d-flex">
								<div class="mr-50">
									<h5><span class="counter">{{v.duration}}</span></h5>
									<p>Duration</p>
								</div>
								<div class="mr-50">
									<h5><span class="counter">{{v.num_volunteer_req}}</span></h5>
									<p>Volunteers Required</p>
								</div>
								<div class="">
									<h5><span class="counter">{{v.vol_date}}</span></h5>
									<p>Date</p>
								</div>
							</div>
						</div>
					</div>
					{%endfor%}
				</div>
				<div class="col-lg-8">
					<div class="text">
						<h2>Join us in volunteering!</h2>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>
					<div class="bottom d-flex justify-content-between align-items-center flex-wrap">
						<a href="#" class="primary-btn offwhite">View Details</a>
						<a href="{{ url_for('show_volunteer') }}" class="primary-btn primary-btn1">View all</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end Causes Area -->

	<!-- Start Collection Area -->
	<section class="collection-area section-gap">
		<div class="container">
			<div class="row justify-content-center align-items-center">
				<div class="col-lg-4 col-md-8">
					<div class="text">
						<h2>Join the crowd in contributing to our society</h2>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						</p>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6">
					<div class="collection-box">
						<p><small>USD</small></p>
						<h3 class="color1"><span class="counter">21</span> M</h3>
						<i class="lnr lnr-arrow-up"></i>
						<p>2015</p>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6">
					<div class="collection-box">
						<p><small>USD</small></p>
						<h3><span class="counter">15</span> M</h3>
						<i class="lnr lnr-arrow-up"></i>
						<p>2016</p>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6">
					<div class="collection-box">
						<p><small>USD</small></p>
						<h3 class="color3"><span class="counter">23</span> M</h3>
						<i class="lnr lnr-arrow-up"></i>
						<p>2017</p>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6">
					<div class="collection-box">
						<p><small>USD</small></p>
						<h3 class="color4"><span class="counter">25</span> M</h3>
						<i class="lnr lnr-arrow-up"></i>
						<p>2018</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Collection Area -->

	<!-- Start Donation Area -->
	<section class="donation-area relative section-gap-top">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-lg-5">
					<div class="text-center text-wrap">
						<h1 class="mb-25">Donate to help other Singaporeans</h1>
						<p>Singapore has more than 1,000 charity organisations to choose from. There is something for every budget, and enough.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Donation Area -->

	<!-- Start Donation Form Area -->
	<section class="donation-form-area section-gap-bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 col-md-10 col-sm-12">
					<div class="donation-box">
						<form action="">
							<div class="donation-input">
								<div class="form-group">
									<input type="text" placeholder="$20.00" onfocus="this.placeholder = ''" onblur="this.placeholder = '$20.00'"
									 class="form-control">
									<span class="fs-14">SGD</span>
								</div>
							</div>

							<div class="row">
								<div class="col-lg-6 col-md-6">
									<div class="donation-type">
										<div class="form-check">
											<label class="form-check-label">
												<input type="radio" class="form-check-input" name="optradio">
												General
											</label>
										</div>
										<p>Donate to our general fund and we'll distribute it for you</p>
									</div>
								</div>

								<div class="col-lg-6 col-md-6">
									<div class="donation-type">
										<div class="form-check">
											<label class="form-check-label">
												<input type="radio" class="form-check-input" name="optradio">
												Specific
											</label>
										</div>
										<p>Donate to a specific organisation</p>
									</div>
								</div>
							</div>

							<button type="button" class="primary-btn w-100">Donate Now</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end Donation Form Area -->

	<!-- Start Event Area -->
	<section class="event-area section-gap-bottom">
		<div class="container">
			<div class="row justify-content-center align-items-center ">
				<div class="col-lg-5 event-left">
					<h1>Upcoming Events</h1>
					<p>
						If you are looking at blank cassettes on the web, you may be very confused at the difference in price You may see
						some for as low as each.
					</p>
					<div class="single-event">
						<p>12th September, 2018</p>
						<h4>
							<a href="event-details.html">Help Restoring Uganda’s Water
								Pipelines Construction</a>
						</h4>
					</div>

					<div class="single-event">
						<p>12th September, 2018</p>
						<h4>
							<a href="event-details.html">Help Restoring Uganda’s Water
								Pipelines Construction</a>
						</h4>
					</div>

					<div class="single-event">
						<p>12th September, 2018</p>
						<h4>
							<a href="event-details.html">Help Restoring Uganda’s Water
								Pipelines Construction</a>
						</h4>
					</div>
				</div>
				<div class="offset-lg-1 col-lg-6 col-md-8 col-sm-10 event-right justify-content-center align-items-center d-flex">
					<div class="owl-carousel owl-event">
						<img class="img-fluid" src="{{ url_for('static', filename='img/events/e1.jpg') }}" alt="">
						<img class="img-fluid" src="{{ url_for('static', filename='img/events/e1.jpg') }}" alt="">
						<img class="img-fluid" src="{{ url_for('static', filename='img/events/e1.jpg') }}" alt="">
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Event Area -->
{%endblock%}
