{%extends 'base.template.html'%}

{%block content%}
<!-- Start Donations Form -->
<section class="home-banner-area relative" style="padding-top:70px">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 section-title">
                <h2>Make a Donation</h2>
                <form method="POST">
                    <div class="form-group">
                        <label>Full Name (as per NRIC)</label>
                        <input type="text" class="form-control" name="donor_name" required/><br/>
                        <label>Date of Birth</label>
                        <input type="date" name="donor_dob" class="form-control" required/><br/>
                        <label>Email Address</label>
                        <input type="email" name="donor_email" class="form-control" required/><br/>
                        <label>Donation Amount:</label>
                        <input type="number" class="form-control" name="donor_amount" required/><br/>
                        <label>Payment Mode</label>
                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                            <option selected>Select to see instructions</option>
                            <option value="1">Wire Transfer</option>
                            <option value="2">PayNow/PayLah</option>
                        </select><br/>
                        <label>Remarks</label>
                        <textarea name="donor_message" class="form-control" placeholder="You may share your wishlist with us!"></textarea>
                        <button type="submit" class="btn btn-primary">Make your donation!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{%endblock%}