{% extends 'base.template.html' %}
{% block content %} 
<section class="home-banner-area relative" style="padding-top:70px">
    <div class="container">
        <div class="text">
            <h2>Join our community to host your volunteer activities and receive grants from us!</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 col-md-offset-4">
                <form method=POST action="{{ url_for('register') }}">
                    <label>Username</label>
                    <input type="text" class="form-control" name="username" placeholder="Username"><br/>
                    <label>Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password"><br/>
                    <label>Organisation Name</label>
                    <input type="text" class="form-control" name="org_name" placeholder="Organisation Name"><br/>
                    <label>Organisation Description</label>
                    <textarea class="form-control" name="org_desc" placeholder="Describe your organisation's social cause"></textarea>
                    <button type="submit" class="btn btn-primary btn-block">Register</button>
                </form>
                <br>
            </div>
        </div>
    </div>
</section>
{% endblock %}