{% extends 'base.template.html'%}

{%block content%}
<div class="row justify-content-center">
    <div class="col-md-7 section-title">
        <h2>Create an event</h2>
        <form method="POST">
            <div class="form-group">
                <label>Event Name</label>
                <input type="text" class="form-control" name="prog_name" required/><br/>
                <label>Event Date</label>
                <input type="date" name="prog_date" class="form-control" required/><br/>
                <label>Event Details</label>
                <textarea name="prog_desc" class="form-control" placeholder="Entering specific details and requirements help with boosting registrations"></textarea><br/>
                <label>Event Duration (Hour)</label>
                <input type="number" name="duration" min="0" class="form-control" required/><br/>
                <label>Number of Volunteer</label>
                <input type="number" min="0" name="num_volunteer_req" class="form-control" required/><br/>
                <label>Organisation</label>
                <select class="custom-select mr-sm-2" name="prog_org">
                    {% for u in users %}
                        <option value="{{users._id}}">{{users.org_name}}</option>
                    {%endfor%}
                </select><br/><br/>

                <button type="submit" class="btn btn-primary">Make your donation!</button>
            </div>
        </form>
    </div>
</div>
{%endblock%}

